{{>header}}

<body class="home">
  <ul class="container">
    {{#each users}}
    <li>
      <section>
        <figure><img src="img/components/{{pic}}" alt="">
          <figcaption class="card_cap">
            <h2>{{name}}, {{age}}</h2>
            <h3>{{profession}}</h3>
          </figcaption>
        </figure>
        <form method="POST" action="/match">
          <div class="decline">
            <div class="white-btn">
              <input type="submit" class="fa-input" value="&#xf004" name="dislike">
            </div>
          </div>
          <div class="superlike">
            <div class="white-btn">
              <input type="submit" class="fa-input" value="&#xf004" name="superlike">
            </div>
          </div>
          <div class="like">
            <div class="white-btn">
              {{!-- <input type="image" value="like" src="img/components/heart.svg" name="like"> --}}
              <input type="submit" class="fa-input" value="&#xf004" name="like">
            </div>
          </div>
        </form>
      </section>
    </li>
    {{/each}}
  </ul>
</body>
{{>footer}}