{{>header}}
{{#each users}}
<figure class="match_image">
  <img src="img/components/{{imgMatch}}" alt="">
</figure>
<section>
  <h1>You've got a match! </h1>
  <form method="POST" action="/profile">
    <input type="submit" value="Reveal Idendity" name="revealid" class="revealId">
  </form>
  <a href="/"><button type="button" class='keepswiping'>Keep on swiping</button></a>
</section>
{{/each}}
{{>footer}}