{{>header}}
{{#each users}}
<figure class="match_image">
  <img src="img/components/{{imgMatch}}" alt="">
</figure>
<section>
  <h1>You've got a match!</h1>
  <form method="POST" action="/profile">
    <input id={{id}} type="submit" value="Reveal Idendity" name="revealid">
  </form>
  <form method="POST" action="/">
    <input id={{id}} type="submit" value="Keep Swiping" name="keepswiping">
  </form>
</section>
{{/each}}
{{>footer}}