{{>header}}
{{#with users}}
<p>{{name}}: {{age}}, {{profession}}</p>
{{/with}}
<figure class="match_image">
  <img src="img/components/match.png" alt="">
</figure>
<section>
  <h1>You've got a match!</h1>
  <form method="POST" action="/profile">
    <input type="button" value="revealid" name="revealid">
  </form>
  <form method="POST" action="/">
    <input type="button" value="keepswiping" name="keepswiping">
  </form>
</section>
{{>footer}}