<link rel="stylesheet" href="main.css">

{{!-- conditionals --}}
{{!-- if isDisplayName is true, then it will display the name or else name is not found--}}
{{#if isName}}
<p>My name is {{name}}</p>
{{else}}
<p>Name is not found :(</p>
{{/if}}

{{#if isAgeValid}}
<p>I am {{age}}</p>
{{else}}
<p>no age provided :(</p>
{{/if}};