<!-- <img src="img/components/wallpaper.svg" alt="wallpaper"> -->
<div class="logo">
  <img src="img/components/logo.svg" alt="logo">
</div>
<form action="/loading" method="POST">
  {{#each users}}
  <label for="name">{{name}}</label>
  <input type="radio" value="{{name}}" name="name">
  {{/each}}
  <input type="submit">
</form>